@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi Font Family/Satoshi-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi Font Family/Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi Font Family/Satoshi-MediumItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi Font Family/Satoshi-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi Font Family/Satoshi-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("./fonts/Integral CF/IntegralCF-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("./fonts/Integral CF/IntegralCF-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: url("./fonts/Integral CF/IntegralCF-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}


:root {
  --bs-body-font-family: "Satoshi", sans-serif;
  --bg-primary: #ffffff;
  --bg-secondary: #f0f0f0;
  --bg-tertiary: #000000;

  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-tertiary: rgba(0, 0, 0, 0.4);
  --text-white: #ffffff;

  --border-primary: rgba(0, 0, 0, 0.1);
  --color-warning: #ffc107;
  --color-success: #198754;
  --color-danger: rgba(255, 51, 51, 1);
  --bg-danger-subtle: rgba(255, 51, 51, 0.1);
}

.text-primary {
  color: var(--text-primary) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

.text-tertiary {
  color: var(--text-tertiary) !important;
}

.text-white {
  color: var(--text-white) !important;
}

.bg-primary {
  background-color: var(--bg-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.bg-tertiary {
  background-color: var(--bg-tertiary) !important;
}

.border-primary {
  border-color: var(--border-primary) !important;
}



body {
  font-family: var(--bs-body-font-family);
  margin: 0;
  padding: 0;
  background-color: var(--bg-primary);
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}

.font-brand-normal {
  font-family: "Integral CF", sans-serif !important;
  font-weight: 400 !important;
}

.font-brand-bold {
  font-family: "Integral CF", sans-serif !important;
  font-weight: 700 !important;
}

.font-brand-extrabold {
  font-family: "Integral CF", sans-serif !important;
  font-weight: 800 !important;
}

.font-brand-heavy {
  font-family: "Integral CF", sans-serif !important;
  font-weight: 900 !important;
}

.font-primary-regular {
  font-family: "Satoshi", sans-serif !important;
  font-weight: 400 !important;
}

.font-primary-medium {
  font-family: "Satoshi", sans-serif !important;
  font-weight: 500 !important;
}

.font-primary-semibold {
  font-family: "Satoshi", sans-serif !important;
  font-weight: 600 !important;
}

.font-primary-bold {
  font-family: "Satoshi", sans-serif !important;
  font-weight: 700 !important;
}

.font-primary-black {
  font-family: "Satoshi", sans-serif !important;
  font-weight: 900 !important;
}

.nav-message {
  font-size: 14px !important;
}

.nav-search-bar {
  background-color: var(--bg-secondary);
  border-radius: 62px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-search-bar input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-primary);
  font-size: 16px;
}

.nav-search-bar input::placeholder {
  color: var(--text-tertiary);
}

.nav-search-bar i {
  color: var(--text-tertiary);
  font-size: 20px;
}

.desktop-nav-links a {
  color: var(--text-primary);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.desktop-nav-links a:hover {
  text-decoration: underline;
}

.nav-icons a {
  color: var(--text-primary);
  font-size: 22px;
  transition: transform 0.2s;
  display: inline-block;
}

.custom-dropdown-icon::after {
  display: none !important;
}

.nav-icons a:hover {
  transform: scale(1.1);
}

html,
body {
  overflow: hidden;
  height: 100vh;
}

.app-swiper {
  width: 100%;
  height: 100vh;
}

.app-swiper>.swiper-wrapper>.app-menu-slide {
  position: fixed;
  top: 0;
  left: -280px;
  width: 280px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1050;
  transition: transform 0.3s ease;
}

.app-swiper>.swiper-wrapper>.app-menu-slide.open {
  transform: translateX(280px);
}

.app-swiper>.swiper-wrapper>.app-content-slide {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  background-color: white;
  transition: transform 0.3s ease;
}

.swiper-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

header {
  padding: 24px 100px !important;
  height: 96px !important;
}

.drawer-open .swiper-overlay {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu {
  border-radius: 12px;
  padding: 8px 0;
}

.dropdown-item {
  font-size: 15px;
  padding: 8px 20px;
}

.nav-close-message {
  margin-right: 100px !important;
  cursor: pointer;
}



.banner-section {
  padding: 0px 100px;
  overflow: hidden;
}

.banner-title {
  font-size: 64px;
  line-height: 1;
  letter-spacing: 0px;
  margin-bottom: 32px;
}

.banner-text {
  margin-bottom: 24px;
}

.banner-button {
  margin-bottom: 48px;
  width: 210px;
  height: 52px;
  text-align: center;
}

.banner-button:hover {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
}

.btn-secondary {
  margin-top: 36px;
  background-color: var(--bg-primary) !important;
  width: 218px;
  height: 52px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 54px;
  padding-bottom: 16px;
  padding-left: 54px;
  opacity: 1;
  color: var(--text-primary);
  text-align: center;
}

.load-more-button.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  margin: auto;
  background-color: transparent !important;
  color: var(--text-primary) !important;
  border-color: var(--border-primary) !important;
  margin-top: 36px !important;
}

.btn-secondary:hover {
  background-color: var(--bg-tertiary) !important;
  color: var(--text-white) !important;
  transform: scale(1.05);
}

.filter-button.btn-secondary {
  background-color: var(--bg-tertiary) !important;
  color: var(--text-white) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
  padding: 16px 54px;
  border-radius: 62px;
  margin-top: 24px !important;
  margin-bottom: 4px !important;
  margin-left: auto;
  margin-right: auto;
}

.filter-button.btn-secondary:hover {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  border-color: var(--border-primary) !important;

}

.star-1 {
  top: 45%;
  left: 0;
  width: 56px;
  height: 56px;
  z-index: 10;
}

.star-2 {
  top: 10%;
  right: 5%;
  width: 104px;
  height: 104px;
  z-index: 10;
}

.banner-right-col {
  height: 100%;
}

.banner-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: 1;
}

.brand-section {
  padding: 45px 100px;
  gap: 106px;
}

.new-arrivals-section {
  margin-bottom: 76px;
}

.browse-by-dress-style {
  background-color: var(--bg-secondary);
}

.new-arrivals-title {
  margin-top: 72px;
}

.product-cards-grid {
  padding: 0 100px;
}

.card {
  height: 100%;
  border: none;
  cursor: pointer !important;
}

.new-arrivals-title {
  margin-bottom: 55px;
  text-transform: uppercase;
}

.new-arrivals-title.banner-title {
  font-size: 48px !important;
}

.card-img-top {
  width: 100%;
  height: auto;
  aspect-ratio: 295 / 298;
  border-radius: 20px;
  opacity: 1;
  object-fit: cover;
}

.parcentage-red.active {
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 1;
  border-radius: 62px;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 6px;
  padding-left: 14px;
  background: var(--bg-danger-subtle);
  color: var(--color-danger);
}

.price {
  font-size: 24px;
}

.price-old {
  text-decoration: line-through !important;
}

.hr {
  margin: 0px 100px;
}

.card-body {
  padding: 16px 0px 0px 0px;
}

.browse-by-dress-style-section {
  padding: 0px 100px;
}

.browse-title {
  font-size: 48px !important;
}

.img-dress {
  height: 289px !important;
}

.dress-card-img {
  object-position: left center;
  transform: scale(1.1) translateX(10%);
  transform-origin: left center;
}

.dress-card-img.lessmove {
  transform: scale(1.1) translateX(5%);
}

.dress-card-img.zoomore {
  transform: scale(3) translateX(-2%) translateY(25%);
}

.dress-card-img.firstImage {
  transform-origin: center;
  transform: scale(-2.2, 2.2) translateX(10%) translateY(25%);
}

.browse-title {
  padding-top: 70px;
  padding-bottom: 64px;
  margin-bottom: 0px;
}

/* --- Review Section Styles --- */
.cursor-pointer {
  cursor: pointer;
}

.review-nav-arrows i {
  transition:
    opacity 0.2s ease,
    transform 0.2s ease;
}

.review-nav-arrows i:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.review-card {
  background-color: var(--bg-primary);
  height: 100%;
  border-color: var(--border-primary) !important;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.carousel-review-container {
  margin: 0px 100px;
}

.review-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.review-swiper {
  padding-bottom: 20px;
}

.reviews-section {
  position: relative;
  margin: 32px 0px 150px 0px;
}

.reviews-section::before,
.reviews-section::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100px;
  z-index: 10;
  backdrop-filter: blur(4px);
  pointer-events: none;
}

.reviews-section::before {
  left: 0;
  background: linear-gradient(to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.reviews-section::after {
  right: 0;
  background: linear-gradient(to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%);
}

.footer-main {
  padding: 140px 100px 50px 100px;
}

.footer-newsletter {
  padding: 0 100px;
}

.footer-social-icon {
  width: 28px;
  height: 28px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.footer-social-icon:hover {
  background-color: var(--bg-tertiary) !important;
  color: var(--text-white) !important;
}

.footer-social-icon.bg-black:hover {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  border: 1px solid var(--border-primary) !important;
}

.footer-link {
  font-size: 15px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: var(--text-primary) !important;
  text-decoration: underline !important;
}

.custom-slide {
  display: flex;
  width: 400px;
  height: 240px;
  align-items: flex-start;
  align-content: flex-start;
}


.bread-crumb-container {
  padding: 0 100px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: url('./images/Vector.svg') !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
}

.product-details-section {
  padding: 0 90px 0px 100px;
}

.details-review-faq {
  margin-top: 80px;
  padding: 0 100px;
}

.custom-tabs {
  border-bottom: 1px solid #e0e0e0;
  gap: 2rem;
  justify-content: space-between;
}

.custom-tabs .nav-link {
  color: var(--text-secondary);
  border-radius: 0;
  padding: 0px !important;
  padding-bottom: 24px !important;
  font-size: 1.1rem;
  background-color: transparent !important;
  border-bottom: 2px solid transparent;
}

.custom-tabs .nav-link.active {
  color: var(--text-primary) !important;
  font-weight: 600;
  border-bottom: 2px solid #000;
}

.review-card {
  border: 1px solid var(--border-primary);
  border-radius: 20px;
  padding: 1.5rem;
}

.star-rating i {
  color: var(--color-warning);
  font-size: 1.1rem;
}

.verified-badge {
  color: var(--color-success);
  font-size: 1rem;
}

.details-title {
  font-size: 40px !important;
  line-height: 1.1 !important;
}

/* Catalog Section CSS */

.catalog-section {
  padding: 0px 100px;
}

/* Pagination CSS */
.custom-pagination {
  gap: 4px;
}

.custom-pagination::-webkit-scrollbar {
  display: none;
}

.custom-pagination {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-pagination li:first-child {
  margin-right: auto;
}

.custom-pagination li:last-child {
  margin-left: auto;
}

.custom-pagination .page-link {
  border: none;
  background-color: transparent;
  color: var(--text-secondary);
  font-family: 'Satoshi', sans-serif;
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  font-weight: 500;
  transition: all 0.2s ease;
}

.custom-pagination .page-item.active .page-link {
  background-color: var(--bg-secondary) !important;
  color: var(--text-primary) !important;
  font-weight: 600;
}

.custom-pagination .page-link:hover {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.custom-pagination .prev-next-btn {
  border: 1px solid var(--border-primary) !important;
  padding: 0 16px;
  min-width: auto;
  color: var(--text-primary) !important;
}

.custom-pagination .prev-next-btn:hover {
  background-color: var(--bg-secondary);
}

.custom-pagination .prev-next-btn i {
  font-size: 14px;
}

.catalog-sidebar {
  border-radius: 20px;
  border: 1px solid var(--border-primary) !important;
  padding: 20px 24px !important;
  /* height: fit-content; */
}

.filter-header h3 {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 700;
}

.category-cat {
  gap: 20px;
}

.category-flex {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;

  a {
    text-decoration: none;
    color: var(--text-secondary);
  }
}

.category-flex:hover {
  color: var(--text-primary);
  cursor: pointer;
  transform: translateX(4px);
  transition: all 0.2s ease-in-out;
}

.range-wrapper {
  width: 100%;
}

.range-container {
  position: relative;
  width: 100%;
}

.slider-track {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 4px;
  background: #f0f0f0;
  border-radius: 2px;
  z-index: 1;
}

input[type="range"] {
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  appearance: var(--text-primary);
  margin: 0;
  z-index: 2;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: var(--text-primary);
  cursor: pointer;
  pointer-events: auto;
}

input[type="range"]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border: none;
  border-radius: 50%;
  background: var(--text-primary);
  cursor: pointer;
  pointer-events: auto;
}

.values-container {
  position: relative;
  height: 20px;
  margin-top: 15px;
}

.values-container span {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 500;
  color: var(--text-primary);
}

.price-box {
  margin-bottom: 34px !important;
}

.price-box-header {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 700;
}

.color-box-header,
.size-box-header,
.dress-box-header {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}


.color-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  justify-items: center;
}

.color-wrapper svg {
  width: 100%;
  height: auto;
  max-width: 37px;
  cursor: pointer;
}

.size-wrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.size-button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 62px;
  background: var(--bg-secondary);
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
  border: none;
  transition: all 0.2s ease-in-out;
}

.size-button:hover {
  background: var(--text-primary);
  color: var(--bg-primary);
}

.size-button.active {
  background: var(--text-primary);
  color: var(--bg-primary);
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.filter-overlay.show {
  opacity: 1;
  visibility: visible;
}



.cart-section {
  padding: 0px 100px !important;
}

.cart-title {
  color: var(--text-primary);
  margin-bottom: 24px !important;
}

.cart-card-info {
  gap: 16px !important;
}




.cart-card-info img {
  width: 150px;
  height: 150px;
  max-height: 100%;
  object-fit: contain;
  border-radius: 12px;
}



.card-information h2,
.card-information p {
  margin: 0;
}

.card-information h2 {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 700;
}

.card-information p {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 400;
}

.cart-price {
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0px !important;
}

.cart-summary-title {
  color: var(--text-primary);
  font-size: 24px;
  font-weight: 700;
}

.cart-summary-label {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 400;
}

.cart-summary-value {
  color: var(--text-primary);
  font-size: 20px;
  font-weight: 700;
}

.summary-promo-btn {
  border-radius: 62px;
  background: var(--text-primary);
  color: var(--text-white) !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary-promo-btn:hover {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  border: 1px solid var(--border-primary) !important;
  transition: all 0.2s ease-in-out;
}

.cart-quantity-btn {
  gap: 20px !important;
  padding: 12px 20px !important;
}

.cart-quantity-btn button {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.cart-quantity-btn button img {
  width: 20px !important;
  height: 20px !important;
  object-fit: contain !important;
}

.delete-icon svg {
  width: 24px !important;
  height: 24px !important;
}








@media (max-width: 1400px) {
  .banner-section {
    padding: 0px 50px;
  }

  .brand-section {
    padding: 45px 75px;
    gap: 56px;
  }

  .banner-button {
    margin-bottom: 12px;
  }

  .browse-by-dress-style-section {
    padding: 0px 50px;
  }
}

@media (max-width: 1200px) {
  .banner-title {
    font-size: 48px;
  }

  header {
    padding: 0 16px !important;
  }

  .nav-close-message {
    margin-right: 15px !important;
  }

  .hr {
    margin: 0px 20px;
  }

  .product-cards-grid {
    padding: 0px 20px;
  }

  .carousel-review-container {
    margin: 0px 50px;
  }

  .reviews-section::before,
  .reviews-section::after {
    width: 50px;
  }

  .catalog-section {
    padding: 0px 75px;
  }
}

@media (max-width: 991px) {
  .nav-message {
    font-size: 12px !important;
  }

  .banner-title {
    font-size: 36px !important;
    margin-bottom: 20px !important;
  }

  .new-arrivals-title.banner-title,
  .browse-title {
    font-size: 32px !important;
    line-height: 36px !important;
  }

  .banner-text {
    margin-bottom: 24px !important;
  }

  .banner-button {
    margin-bottom: 20px !important;
    width: 100%;
  }

  .banner-section {
    padding: 16px 0px 0px 0px;
  }

  .banner-text-col {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px !important;
  }

  .banner-right-col {
    padding-left: 0;
    padding-right: 0;
  }

  .banner-hero-img {
    position: relative;
    max-height: 500px;
  }

  .star-1 {
    top: 30%;
    left: 5%;
    width: 40px;
    height: 40px;
  }

  .star-2 {
    top: 5%;
    right: 5%;
    width: 70px;
    height: 70px;
  }

  .details-gap {
    gap: 12px;
    justify-content: center;
  }

  .brand-section {
    padding: 40px 16px;
    gap: 24px;
  }

  .brand-logo {
    max-height: 24px;
    width: auto;
  }

  .new-arrivals-title {
    margin-bottom: 50px !important;
  }

  .rating-text {
    font-size: 14px;
  }

  .product-cards-grid {
    padding: 0px 8px;
  }

  .newsletter-box {
    padding: 32px 24px !important;
  }

  .newsletter-box h2 {
    font-size: 32px !important;
    max-width: 100% !important;
    text-align: left;
  }

  .footer-main {
    padding: 140px 0px 50px 0px;
  }

  .footer-newsletter {
    padding: 0 17px;
  }

  .catalog-section {
    padding: 0px 50px;
  }

  .catalog-sidebar {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 92vh;
    background-color: white;
    z-index: 1050;
    border-radius: 20px 20px 0 0;
    padding: 20px !important;
    transition: bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow-y: auto;
    border: none !important;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  }

  .catalog-sidebar.show {
    bottom: 0;
    padding-bottom: 50px !important;
  }

  .bread-crumb-container {
    padding: 0px 50px !important;
  }

  .size-button {
    font-size: 14px !important;
  }

  .category-flex a {
    font-size: 16px !important;
  }

  .filter-button.btn-secondary {
    width: 90% !important;
  }

  .cart-section {
    padding: 0px 50px !important;
  }

  .cart-title {
    margin-bottom: 20px !important;
    font-size: 34px !important;
  }
}

@media (max-width: 767px) {
  .banner-title {
    font-size: 28px;
    margin-bottom: 12px !important;
  }

  header {
    height: 64px !important;
  }

  .card-title {
    width: 100%;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .banner-text {
    font-size: 14px !important;
    margin-bottom: 16px !important;
  }

  .banner-button {
    height: 44px;
    font-size: 14px !important;
  }

  .stats-container h3 {
    font-size: 24px !important;
  }

  .stats-container p {
    font-size: 12px !important;
  }

  .btn-secondary {
    width: 100%;
    margin: 8px 16px !important;
  }

  .new-arrivals-title {
    margin-bottom: 32px !important;
    margin-top: 50px;
  }

  .new-arrivals-section {
    margin-bottom: 40px !important;
  }

  .rating-text {
    font-size: 11px;
  }

  .price {
    font-size: 20px;
  }

  .mobile-hidden {
    display: none !important;
  }

  .dress-card {
    height: 190px !important;
  }

  .dress-card-img.lessmove {
    transform: scale(1.1) translateX(5%);
  }

  .dress-card-img.zoomore {
    transform: scale(3) translateX(-10%) translateY(25%);
  }

  .dress-card-img.firstImage {
    transform-origin: center;
    transform: scale(-1.8, 1.8) translateX(10%);
  }

  .browse-title {
    padding-top: 40px;
    padding-bottom: 28px;
    margin-bottom: 0px;
  }

  .browse-by-dress-style-section {
    padding: 0px 16px;
  }

  .reviews-section h2 {
    font-size: 2rem !important;
  }

  .carousel-review-container {
    margin: 0px 16px;
  }

  .reviews-section {
    margin-top: 50px !important;
    margin-bottom: 150px !important;
  }

  .reviews-section::before,
  .reviews-section::after {
    width: 16px;
  }

  .bread-crumb-container {
    padding: 0px 16px !important;
  }

  .product-details-section {
    padding: 0px 16px !important;
  }

  .details-review-faq {
    padding: 0 16px !important;
  }

  .load-more-button.btn-secondary {
    width: 90% !important;
    margin: 20px auto !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }

  .details-title {
    font-size: 24px !important;
  }

  .price-new {
    font-size: 24px !important;
  }

  .price-old {
    font-size: 24px !important;
  }

  .card-text {
    font-size: 14px !important;
  }

  .select-color-text {
    font-size: 14px !important;
  }

  .details-review-faq {
    margin-top: 50px !important;
  }

  .custom-tabs {
    gap: 10px;
  }

  .custom-tabs .nav-link {
    font-size: 16px !important;
    padding-bottom: 15px !important;
  }

  .btn-custom {
    font-size: 12px !important;
    padding: 12px 16px !important;
  }

  .review-card p,
  div {
    font-size: 12px !important;
  }

  .review-card p {
    margin-bottom: 0px;
  }

  .review-card h6 {
    font-size: 16px !important;

  }

  .you-might {
    padding: 0px 53px !important;
  }

  .breadcrumb-item+.breadcrumb-item::before {
    content: url('./images/Vector.svg') !important;
    margin-top: 5px;
  }

  .catalog-section {
    padding: 0px 16px !important;
  }

  .custom-pagination {
    gap: 2px !important;
    justify-content: space-between !important;
  }

  .custom-pagination .page-link {
    min-width: 26px !important;
    height: 30px !important;
    font-size: 12px !important;
    padding: 0 !important;
  }

  .custom-pagination .prev-next-btn {
    padding: 0 8px !important;
    font-size: 12px !important;
  }

  .custom-pagination .prev-next-btn i {
    font-size: 10px !important;
  }

  .cart-section {
    padding: 0px 16px !important;
  }



  .cart-title {
    font-size: 16px !important;
  }

  .cart-product-title {
    font-size: 16px !important;
    text-wrap: nowrap;
  }

  .left-details {
    max-height: 100px !important;
    gap: 10px !important;
  }

  .cart-card-info img {
    width: 100px !important;
    height: 100px !important;
  }

  .card-information p {
    font-size: 12px !important;
  }

  .cart-price {
    font-size: 20px !important;
  }

  .remove-cart-item i {
    font-size: 14px !important;
  }

  .quantity-btn {
    padding: 8px 16px !important;
  }

  .cart-quantity-btn {
    padding: 7.5px 13.5px !important;
  }

  .cart-quantity-btn span {
    font-size: 14px !important;
    margin: 0;
  }

  .cart-quantity-btn button img {
    width: 16px !important;
    height: 16px !important;
    object-fit: contain !important;
  }



  .cart-summary-title {
    font-size: 16px !important;
  }

  .cart-summary-label {
    font-size: 14px !important;
  }

  .cart-summary-value {
    font-size: 20px !important;
  }

  .summary-promo-btn {
    height: 44px !important;
    font-size: 14px !important;
  }

  .cart-page-left {
    padding: 14px !important;
  }

  .cart-page-right {
    padding: 14px !important;
  }

  .cart-card-info {
    max-height: 100px !important;
    gap: 14px !important;
  }

  .delete-icon svg {
    width: 20px !important;
    height: 20px !important;
  }

}

@media (min-width: 490px) {
  .another-line {
    display: block !important;
  }
}




@media (max-width: 375px) {
  .fa-circle-user {
    display: none;
  }

  .price {
    font-size: 16px;
  }

  .parcentage-red.active {
    padding-left: 8px;
    padding-right: 8px;
  }

  .text-secondary.mobile-text-secondary {
    font-size: 10px !important;
  }

  .extra-responsive {
    display: none !important;
  }

  .extra-small {
    display: none !important;
  }

  .extra-small-row {
    display: flex !important;
    flex-direction: column !important;
    align-items: start !important;
    justify-content: start !important;
    margin: auto auto;
  }


}